*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins';
}
body {
        background-color:  rgb(15, 15, 53);
        }
header {
        position: sticky;
        top: 0; /* to fix it in the top */
        background: rgb(255, 255, 255); /* to make it transpareant */
        z-index: 1000; /*to make this in the top of any contant */
        background-color: rgba(0, 0, 0, 0.596);
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
}

.video-container {
        position: relative;
        margin-top: 0px;
        position: relative;
        width: 100%;
        height: 700px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        
        
}

.name {
        color: chocolate;
        transition: transform 1s;
        font-size: 40px;
}
.name:hover {
         transform: scale(0.80);
}
.nov {
        margin-left: 80px;
        text-decoration: none;
        color: cornsilk;
        transition: color 2ms;
        font-size: 18px;
}
.nov:hover {
        color: chocolate
}
main {
        background-color: rgb(250, 250, 238);
        height: 2350px;      
}

.sec {
        margin: 0;
        padding: 0;
}
.sec video {
        display: block;
        margin: 0;
        padding: 0;
        
}
 

.txt-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
}

.mains1 {
        text-decoration: none;
        color: black;
        font-style: normal;
        font-size: 110px;
        margin-bottom: 50px;
        transition: transform 1.5s;
}
.mains1:hover {
         transform: scale(1.60);
}
.making {
        text-decoration: none;
        color: white; 
        font-size: 23px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: 3.5px solid white;
        padding: 15px 25px;
        border-radius: 50px;
        transition: 0.3s;
}
.making:hover {
        background-color: #fff;
        color: black;
}

.description {
        display: flex;
        justify-content: center;
        
        

}
.lool {
       height: 100px;
       width: 2000px;
       flex: 0 0 calc(33.33% - 20px);
       background: rgb(146 118, 81);
       border-radius: 20px;
       overflow: hidden;
       box-shadow: 0 4px 10px black;
       
        
}
.def {
        text-align: center;
        margin-bottom: 50%; 
        margin-bottom: 50%;
            
}
.parag1 {
        color: black;
}
.sacial { 
        margin-left: 20px;
        margin-top: 70px;
       }
.sacial img {
        height: 85%;
        width: 85%;
        border: 2px solid rgb(141, 121, 95);;
        border-radius: 20px;
       
}
.txtesacial {
          height: 300px;
          width: 700px;
          
          margin-right: 150px;
          margin-top: 100px;
}
.socaildining { 
        display: flex;
        align-items: flex-start;

}
.txtesacial h1 {
        text-align: center;
        font-size: 60px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: chocolate;
}
.txtesacial p {
        text-align: center;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



 @media (max-width: 768px) {}
                    
section {
        padding: 2rem 1rem;
            }
.section3 {
            height: 700px; 
            overflow-y: auto;
            } 
.firstdiv {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}
.secanddiv {
                width: 90%;
            }

.secanddiv {
    flex: 0 0 calc(33.33% - 20px);
    background: rgb(146, 118, 81);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px black;
    transition: transform 0.3s;
    height: 600px;
    width: 400px;    
}

.secanddiv:hover {
    transform: scale(1.05); /* to make a diffrence when i click to div */
}

.imagediv {
    width: 100%;
    height: 300px;
    object-fit: cover;
    height: 250px;
}
.info1 {
    padding: 15px;
}
.title {
        text-align: center;
        color: rgb(90, 49, 21);
}
.parag {
        text-align: center;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: black;
}

/* Responsive */
@media (max-width: 1024px) {
    .secanddiv {
        flex: 0 0 calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .secanddiv {
        flex: 0 0 100%;
    }

    .imagediv {
        height: 250px;
 }
 }

 .footer{
 display: flex;
align-items: flex-start; 
}

.col{
  width: 25%;
  
}

.col h4{
  
  font-size: 1.2rem;
  color:beige;
  margin-bottom: 25px;
  
}
.col h4:before{
  content:"";
  height: 2px;
  width: 50px;
  background:black;
  
}
.col ul li:not(:last-child){
margin-bottom:20px;

}
.col ul li a{
  color: white;
  font-size: 1rem;
  text-transform: capitalize;
  transition: 0.3s ease;
  text-decoration: none;

}
.col ul li a:hover{
  color: rgb(194, 194, 110);
  padding-left: 10px;
}
.footers{
  background-color:rgb(7, 7, 27);
  height: 300px;
}
p{
  color: white;
}
.footer-content {
        color: #fff;        
}
.footer-content a {
  color: white;
  font-size: 25px;
  margin-right: 12px;
  text-decoration: none;
}
.footer-content a:hover{
  color: rgb(212, 212, 109);
}
    

